<footer class = "span-24 last">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
			<li><%= link_to "Privacy", privacy_path %></li>
    </ul>
  </nav>
	<%= debug(params) if Rails.env.development? %>
</footer>