<footer class = "span-24 last">
<hr>
  <nav>
      | <%= link_to "About", about_path %> | 
      <%= link_to "Contact", contact_path %> | 
			&copy; 2011 |
			<%= link_to "Terms", terms_path %> | 
			<%= link_to "Privacy", privacy_path %> |
  </nav>
	<!-- <%= debug(params) if Rails.env.development? %> -->
</footer>