<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
	
  <body>
    <div class="container">
		
      <%= render 'layouts/header' %>
			
			<div class = "span-5 colborder">
				<%= left_sidebar %>
				&nbsp; <br /><br />
			</div>
			
      <div class="span-12">
        <%= yield %>
      </div>
			
			<div class = "span-6 last">
				&nbsp;
			</div>
			
			<%= render 'layouts/footer' %>
			
    </div>
  </body>
	
</html>
