<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
  </head>
  <body>
    <div class="container showgrid">
      <%= render 'layouts/header' %>
      <section class=" ">
        <%= yield %>
      </section>
			<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
